@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply .overflow-x-hidden;
  position: relative;
}

body {
  @apply .font-sans;
  position: relative;
}

.slider {
  @apply .flex .flex-col .flex-wrap .items-center .py-16;
}

.circle {
  width: 150vw;
  height: 150vw;
  top: -80vw;
  right: -110vw;
  @apply .absolute .bg-red .rounded-full;
}

.quote {
  &:before {
    content: '';
    width: 90vw;
    height: 90vw;
    z-index: -1;
    right: -6vw;
    top: -12vw;
    @apply .absolute .bg-red .rounded-full;
  }
  height: 80vw;
}

.button-primary {
  @apply .bg-red .text-white .font-bold .py-4 .px-4 .tracking-widest .uppercase .col-start-2;
  width: max-content;
  &:hover {
    @apply .bg-red-dark;
  }
}

.articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  column-gap: 4rem;
  grid-auto-rows: 300px auto auto;
  margin-bottom: 8rem;
}

.article {
  display: grid;
  @supports not (grid-template-rows: subgrid) {
    --rows: 300px auto auto;
  }
  grid-template-rows: var(--rows, subgrid);
  grid-row: span 3;
  &__title {
    @apply .font-bold .text-5xl .border-b-2 .border-solid .border-transparent .inline-block .mb-16;
    width: max-content;
  }
  &__poster {
    @apply .mb-4;
  }
  &:hover {
    .article__title {
      @apply .border-red;
    }
  }
}

.master {
  .subgrid {
    grid-template-columns: subgrid;
    display: grid;
  }
}

.table-custom {
  &__section {
    width: 100%;
  }
  &__title {
    width: 100%;
    margin-top: -1px;
    @apply .px-4 .py-2 .border-solid .border .border-red .uppercase .font-extrabold .text-xl .tracking-wider;
  }
  &__content {
    width: 100%;
    margin-top: -1px;
    @apply .border-solid .border .border-red .px-4 .py-2 .tracking-wider .text-xl;
  }
}

@media (min-width: 640px) {
  .circle {
    width: 90vw;
    height: 90vw;
    top: -45vw;
    right: -40vw;
  }
  .quote {
    &:before {
      width: 40vw;
      height: 40vw;
    }
  }
}

@media (min-width: 1024px) {
  .circle {
    width: 80vw;
    height: 80vw;
    top: -45vw;
    right: -40vw;
  }
  .quote {
    height: auto;
  }
  .table-custom {
    &__section {
      width: auto;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-left: -1px;
    }
    &__title {
      width: auto;
    }
    &__content {
      width: auto;
    }
  }
}

@media (min-width: 1280px) {
  .circle {
    width: 80vw;
    height: 80vw;
    top: -45vw;
    right: -45vw;
  }
  .quote {
    height: 30vw;
  }
}
